body{
    text-align: center;
    background-color: aliceblue;
}
.form-element{
    margin-top: 5%;
}
button{
    display:flex;
    justify-content: center;
}
.table-container{
    width:40%;
}
.header{
    text-align: left;
}